<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <!--add key="Request.Json" value="request.json" />
        <add key="Remote.Host" value="localhost" />
        <add key="Remote.Port" value="8080" />
        <add key="Remote.Path" value="/org.talend.administrator/metaServlet" />
        <add key="Request.Timeout" value="100000" / -->
    </appSettings>
</configuration>
