<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <!--<add key="Tac.MetaServlet.V56.Client.Remote.Host" value="localhost"/>
		<add key="Tac.MetaServlet.V56.Client.Remote.Port" value="8080"/>
		<add key="Tac.MetaServlet.V56.Client.Remote.Path" value="/org.talend.administrator/metaServlet"/>
		<add key="Tac.MetaServlet.V56.Client.Request.TaskName" value="example_task"/>
		<add key="Tac.MetaServlet.V56.Client.Request.Interval" value="60"/>
		<add key="Tac.MetaServlet.V56.Client.Request.Timeout" value="60"/>
		<add key="Tac.MetaServlet.V56.Client.Request.AuthUser" value="user@example.com"/>
		<add key="Tac.MetaServlet.V56.Client.Request.AuthPass" value="password"/>
		<add key="Tac.MetaServlet.V56.Client.Execution.LogFileName" value="tacrpc_${var:instanceName}_${var:executionName}_${var:yyyyMMdd}_${var:hhmmssfff}.log"/>
		<add key="Tac.MetaServlet.V56.Client.Execution.InstanceName" value="tacrpc"/>
		<add key="Tac.MetaServlet.V56.Client.Execution.Timeout" value="3600">
		<add key="Tac.MetaServlet.V56.Client.Execution.DryRun" value="false"/-->
	</appSettings>
</configuration>
