<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <!--add key="Tac.MetaServlet.Client.Remote.Host" value="localhost" />
        <add key="Tac.MetaServlet.Client.Remote.Port" value="8080" />
        <add key="Tac.MetaServlet.Client.Remote.Path" value="/org.talend.administrator/metaServlet" />
        <add key="Tac.MetaServlet.Client.Request.Timeout" value="100000" / -->
		<add key="Tac.MetaServlet.V56.Client" value=""/>
	</appSettings>
</configuration>
